<html>
    <head>
        <title>Simple table extracter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <center><h1> Extract Table from PDF</h1>
            <form action="/upload_pdf" method="post" enctype="multipart/form-data">
                <input class="btn" type="file" name="pdf" required><BR>
                <button type="submit" class="btn btn-primary">Extract</button>
            </form> 
        </center>
    </body>
</html>